@using SFA.DAS.Apim.Developer.Web.AppStart
@model SFA.DAS.Apim.Developer.Web.Models.SubscriptionsViewModel
@{
    if (Model.AuthenticationType == AuthenticationType.Employer)
    {
        Layout = "_LayoutEmployer";    
    } else if (Model.AuthenticationType == AuthenticationType.External)
    {
        Layout = "_LayoutGeneric";
    }
    
    ViewData["Title"] = "API list";
}


@if (Model.AuthenticationType == AuthenticationType.Provider)
{
    @* ReSharper disable once Razor.SectionNotResolved *@
    @section breadcrumb {
        <span class="das-js-back-link"></span>
    }
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.ShowDeletedBanner)
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-notification-banner__heading">
                        @Model.ApiName key deleted
                    </p>
                </div>
            </div>
        }
        <h1 class="govuk-heading-xl">API list</h1>
        
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header das-table-cell-width-85" scope="col"> API name </th>
                    <th class="govuk-table__header das-table-cell-width-15" scope="col"> Action </th>
                </tr>
            </thead>      
            <tbody class="govuk-table__body">
            @foreach (var subscriptionItem in Model.Products)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        @subscriptionItem.DisplayName
                        <api-description class="govuk-caption-m" tag-name="span" show-documentation-url="false" key-name="@subscriptionItem.Id" data="@subscriptionItem.Description" />
                    </td>
                    <td class="govuk-table__cell">
                        @if (!string.IsNullOrEmpty(subscriptionItem.Key))
                        {
                            <a asp-route="@Model.ViewKeyRouteName" id="view-key-for-@subscriptionItem.Id" asp-route-id="@subscriptionItem.Id" asp-route-ukprn="@Model.Ukprn" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-externalId="@Model.ExternalId" class="govuk-link govuk-link--no-visited-state">
                                View key <span class="govuk-visually-hidden">for the @subscriptionItem.DisplayName</span>
                            </a>
                        }
                        else
                        {
                            <form method="post" asp-route="@Model.CreateKeyRouteName" asp-route-id="@subscriptionItem.Id" asp-route-ukprn="@Model.Ukprn" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-externalId="@Model.ExternalId">
                                <button id="get-key-for-@subscriptionItem.Id" type="submit" draggable="false" class="das-button--inline-link">
                                    Get key <span class="govuk-visually-hidden">for the @subscriptionItem.DisplayName</span>
                                </button>
                            </form>
                
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
