@using SFA.DAS.Apim.Developer.Web.Infrastructure
@model SFA.DAS.Apim.Developer.Web.Models.SubscriptionsViewModel
@{
    Layout = "_LayoutEmployer";
    ViewData["Title"] = "API list";
}
<span class="das-js-back-link"></span>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @* <div class="govuk-panel govuk-panel--confirmation app-copy-confirmation" id="copy-confirmation-banner" aria-hidden="true"> *@
            @*     <h1 class="govuk-panel__title"> *@
            @*         Key copied *@
            @*     </h1> *@
            @* </div> *@
            @* @if (Model.ShowRenewedBanner) *@
            @* { *@
            @*     <div class="govuk-panel govuk-panel--confirmation" id="renew-confirmation-banner"> *@
            @*         <h1 class="govuk-panel__title"> *@
            @*             Key renewed *@
            @*         </h1> *@
            @*     </div> *@
            @* } *@
            <h1 class="govuk-heading-xl">API list</h1>
            
            
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header das-table-cell-width-85" scope="col"> API name </th>
                        <th class="govuk-table__header das-table-cell-width-15" scope="col"> Action </th>
                    </tr>
                </thead>      
                <tbody class="govuk-table__body">
                @foreach (var subscriptionItem in Model.Products)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @subscriptionItem.DisplayName
                            <span class="govuk-caption-m">@subscriptionItem.Description</span>
                        </td>
                        <td class="govuk-table__cell">
                            @if (!string.IsNullOrEmpty(subscriptionItem.Key))
                            {
                                <a asp-route="@RouteNames.EmployerViewKey" asp-route-id="@subscriptionItem.Id" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state">
                                    View key <span class="govuk-visually-hidden">for the @subscriptionItem.DisplayName</span>
                                </a>    
                            }
                            else
                            {
                                <a asp-route="@RouteNames.EmployerGetKey" asp-route-id="@subscriptionItem.Id" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state">
                                    Get key <span class="govuk-visually-hidden">for the @subscriptionItem.DisplayName</span>
                                </a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            
            
        </div>
    </div>
 </main>
