@using SFA.DAS.Apim.Developer.Web.Infrastructure
@using SFA.DAS.Apim.Developer.Web.AppStart
@using SFA.DAS.Apim.Developer.Web.TagHelpers
@model SFA.DAS.Apim.Developer.Web.Models.SubscriptionViewModel
@inject IUrlHelper _urlHelper
@{
    if (Model.AuthenticationType == AuthenticationType.Employer)
    {
        Layout = "_LayoutEmployer";    
    }
    else if (Model.AuthenticationType == AuthenticationType.External)
    {
        Layout = "_LayoutGeneric";
    }
    if (Model.AuthenticationType == AuthenticationType.External)
    {
        ViewData["Title"] = $"{Model.Product.DisplayName} key";
    }
    else
    {
        ViewData["Title"] = "Key for API";   
    }
}

@* ReSharper disable once Razor.SectionNotResolved *@
@if (Model.AuthenticationType == AuthenticationType.Provider)
{
    @section breadcrumb {
        <span class="das-js-back-link"></span>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (Model.ShowRenewedBanner)
        {
            <div class="govuk-panel govuk-panel--confirmation" id="renew-confirmation-banner">
                <h1 class="govuk-panel__title">
                    Key renewed
                </h1>
            </div>
        }
        @if (Model.AuthenticationType == AuthenticationType.External)
        {
            <h1 class="govuk-heading-xl">@Model.Product.DisplayName key</h1>
            <p class="govuk-body">
                You need to copy the API key and use it to access the API. If you give it to a developer, this gives them permission to connect to the API on your behalf.
            </p>
        }
        else
        {
            <h1 class="govuk-heading-xl">Key for API</h1>
            <p class="govuk-body">
                The API key gives your developer permission to connect to the API on your behalf.
            </p>
        }
        
        <h2 class="govuk-heading-l">@Model.Product.DisplayName</h2>
        <api-description class="govuk-body" tag-name="p" show-documentation-url="false" key-name="@Model.Product.Id" data="@Model.Product.Description" />
        <p class="govuk-body govuk-!-margin-bottom-6">
            You'll need to send the API key and the API page to your developer.<br/>
            You can do this by copying the information below and pasting it into an email.
        </p>
        
        <div class="app-api-info">
            <span class="app-api-info__key" id="key-@Model.Product.Key">
                @Model.Product.Key
                <br />
                <br />
                @Url.RouteUrl(RouteNames.Documentation, new { apiName = Model.Product.Name}, "https")
            </span>
            <span data-copy-target="key-@Model.Product.Key" data-accessible-label="@Model.Product.DisplayName" class="app-api-info__button-wrap"></span>
        </div>

        <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    No longer want this API key?
                </span>
            </summary>
            <div class="govuk-details__text">
                <h2 class="govuk-heading-m">
                    Renew API key 
                </h2>
                <p>
                    You may want to renew your API key for security reasons or because of a change in your systems or staff. 
                </p>
                <p>
                    Renewing your API key will stop the previous key from working and create a new key for you to use. <br><br>
                    <a id="renew-key" asp-route="@Model.RenewKeyRouteName" asp-route-id="@Model.Product.Id" asp-route-ukprn="@Model.Ukprn" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-externalId="@Model.ExternalId" class="govuk-link govuk-link--no-visited-state">Renew Key</a>
                </p>
                <h2 class="govuk-heading-m">
                    Delete API key 
                </h2>
                <p>
                    If you no longer want to use this API you can delete your key.
                    This will stop the API from working. <br><br>
                    <a id="delete-key" asp-route="@Model.DeleteKeyRouteName" asp-route-id="@Model.Product.Id" asp-route-ukprn="@Model.Ukprn" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-externalId="@Model.ExternalId" class="govuk-link govuk-link--no-visited-state">
                        Delete API Key
                    </a>
                </p>
            </div>
        </details>
    </div>
</div>