@using SFA.DAS.Apim.Developer.Web.Infrastructure
@model SFA.DAS.Apim.Developer.Web.Models.SubscriptionViewModel
@{
    if (Model.Ukprn == null)
    {
        Layout = "_LayoutEmployer";    
    }
    ViewData["Title"] = "Key for API";
}

@section breadcrumb {
    <span class="das-js-back-link"></span>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation app-copy-confirmation" id="copy-confirmation-banner" aria-hidden="true">
            <h1 class="govuk-panel__title">
                Key copied
            </h1>
        </div>
        @if (Model.ShowRenewedBanner)
        {
            <div class="govuk-panel govuk-panel--confirmation" id="renew-confirmation-banner">
                <h1 class="govuk-panel__title">
                    Key renewed
                </h1>
            </div>
        }
        <h1 class="govuk-heading-xl">Key for API</h1>
        <p class="govuk-body">
            You need to copy the API key and give it to your developer, this gives them permission to connect to the API on your behalf.
        </p>
        <div class="app-summary-card">
            <header class="app-summary-card__header">
                <h3 class="govuk-heading-s app-summary-card__heading">@Model.Product.DisplayName</h3>
            </header>
            <div class="app-summary-card__content">
                <api-description class="govuk-body" tag-name="p" api-name="@Model.Product.Name" key-name="@Model.Product.Id" data="@Model.Product.Description"/>
                <dl class="govuk-summary-list govuk-summary-list__m">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            API key
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <code class="app-code" id="key-@Model.Product.Key">@Model.Product.Key</code>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <span data-copy-target="key-@Model.Product.Key" data-accessible-label="@Model.Product.DisplayName"></span>
                        </dd>
                    </div>
                </dl>
                <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Do you need a new key?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Renewing the key will disable the previous key and will stop your API from working until you use the new key. <a asp-route="@Model.RenewKeyRouteName" asp-route-id="@Model.Product.Id" asp-route-ukprn="@Model.Ukprn" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state">Renew Key</a>.
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>