@using SFA.DAS.Apim.Developer.Web.Infrastructure
@model SFA.DAS.Apim.Developer.Web.Models.HomePageViewModel
@{
    Layout = "_LayoutGeneric";    
    ViewData["Title"] = "Using Apprenticeship service APIs – Apprenticeship service – GOV.UK";
    var vacanciesOuterApi = Model.ApiProducts.FirstOrDefault(c=>c.Id.Equals("VacanciesOuterApi"));
    var apiProducts = Model.ApiProducts.OrderBy(i => i.DisplayName);
    var firstProduct = apiProducts.First();
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Using Apprenticeship service APIs</h1>
        <p class="govuk-body">This page is for developers who want to use Apprenticeship service APIs.</p>

        <h2 class="govuk-heading-l">Our APIs</h2>
        
        @foreach(var apiProduct in apiProducts)
        {
            <h3 class="govuk-heading-s"><a asp-host="@Model.DocumentationBaseUrl" asp-protocol="https" asp-route="@RouteNames.Documentation" asp-route-apiName="@apiProduct.Name" class="govuk-link">@apiProduct.DisplayName</a></h3>
            <p class="govuk-body">
                <api-description class="govuk-caption" tag-name="span" show-documentation-url="false" key-name="@apiProduct.Id" data="@apiProduct.Description" />
            </p>
        }
        
        <h2 class="govuk-heading-l" id="employer-provider-api-info">Using our APIs</h2>
        <h3 class="govuk-heading-m">If you're working with an employer</h3>
        
        <p class="govuk-body">You can use the:</p>
        <ul class="govuk-list govuk-list--bullet">
            @foreach (var apiProduct in apiProducts.Take(3))
            {
                <li><a asp-host="@Model.DocumentationBaseUrl" asp-protocol="https" asp-route="@RouteNames.Documentation" asp-route-apiName="@apiProduct.Name" class="govuk-link">@apiProduct.DisplayName</a></li>
            }
        </ul>
        <p class="govuk-body">You’ll need to get an API key from the employer you’re working with before you can call our APIs.</p>
        <p class="govuk-body">The employer will find these API keys in the <strong>Adverts</strong> section of their apprenticeship service account. At the bottom of the page, there’s a link for <strong>Recruitment APIs</strong>.</p>
        <p class="govuk-body">If an employer deletes their API key, your application will stop working.</p>

        <h3 class="govuk-heading-m">If you're working with a training provider</h3>

        <p class="govuk-body">You can use the:</p>
        <ul class="govuk-list govuk-list--bullet">
            @foreach (var apiProduct in apiProducts)
            {
                <li><a asp-host="@Model.DocumentationBaseUrl" asp-protocol="https" asp-route="@RouteNames.Documentation" asp-route-apiName="@apiProduct.Name" class="govuk-link">@apiProduct.DisplayName</a></li>
            }
        </ul>
        <p class="govuk-body">You’ll need to get an API key from the training provider you’re working with before you can call our APIs.</p>
        <p class="govuk-body">The training provider will find these API keys in the <strong>Developer APIs</strong> section on their apprenticeship service account homepage.</p>
        <p class="govuk-body">If the training provider deletes their API key, your application will stop working.</p>

        <h3 class="govuk-heading-m">If you're working on your own</h3>

        <p class="govuk-body">You can only use the <a asp-host="@Model.DocumentationBaseUrl" asp-protocol="https" asp-route="@RouteNames.Documentation" asp-route-apiName="@firstProduct.Name" class="govuk-link">@firstProduct.DisplayName</a>.</p>
        <p class="govuk-body">You will need an API key to call the @firstProduct.DisplayName. You can <a href="https://developer.apprenticeships.education.gov.uk/third-party-accounts/register?" class="govuk-link">create an account to get an API key</a>.</p>
        <p class="govuk-body">If you already have an account, you can <a class="govuk-link" href="https://developer.apprenticeships.education.gov.uk/third-party-accounts/sign-in">sign in to get an API key</a>.</p>

        <h2 class="govuk-heading-l">How our APIs work</h2>
        <p class="govuk-body">Our APIs are RESTful and use JSON.</p>

        <h3 class="govuk-heading-m">Authentication</h3>

        <p class="govuk-body">You need an API key to call our APIs. Each API requires a different key. How to get keys is detailed in the <strong>Using our APIs</strong> section.</p>
        <div class="govuk-inset-text">
            <p>Every request to our API must contain your API key. Use your API key as the value for the HTTP request header <code>Ocp-Apim-Subscription-Key</code>.</p>
        </div>
        <p class="govuk-body">For example:</p>
        <div class="app-summary-card__header">
            <code>
                GET https://api.apprenticeships.education.gov.uk/vacancies/{yourAction} HTTP/1.1<br>
                Host: api.apprenticeships.education.gov.uk<br>
                X-Version: 1<br>
                Ocp-Apim-Subscription-Key:<br>
            </code>
        </div><br />
        <p class="govuk-body">The API will return a 401 status code if you do not include this field or if the API key is invalid.</p>

        <h4 class="govuk-heading-s">Keeping your API key secure</h4>

        <p class="govuk-body">Do not:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>embed API keys in your code - consider storing them inside environment variables or configuration.</li>
            <li>store API keys in your application source tree - if all or part of the source is made public, the API key may be compromised.</li>
        </ul>
        <p class="govuk-body">Regenerate your API keys regularly, including with each application release. This will reduce the chance of an API key being discovered.</p>

        <h3 class="govuk-heading-m">Versioning</h3>

        <p class="govuk-body">Our APIs are versioned. This means the API will keep acting predictably even after we’ve released a new version.</p>
        <p class="govuk-body">After a new release version of the API, the old version will be maintained for 3 months only.</p>
        <div class="govuk-inset-text">
            <p>Every request to our API must include which API version you are calling. State which version you want for the HTTP request header <code>X-version</code>. This value must be a whole number.</p>
        </div>
        <p class="govuk-body">For example:</p>
        <div class="app-summary-card__header">
            <code>
                GET https://api.apprenticeships.education.gov.uk/vacancies/{yourAction} HTTP/1.1<br>
                Host: api.apprenticeships.education.gov.uk<br>
                X-Version: 1<br>
                Ocp-Apim-Subscription-Key:<br>
            </code>
        </div><br />
        <p class="govuk-body">The API will return a 404 status code if you do not include this field or if the version number is invalid.</p>

        <h3 class="govuk-heading-m">Rate limiting</h3>

        <p class="govuk-body">We use rate limiting to protect the quality of our APIs.</p>
        <p class="govuk-body">You can make up to 150 requests within a 5 minute period.</p>
        <p class="govuk-body">The API will return a 429 status code if you exceed this request limit. After the end of the 5 minute period, your request limit will reset back to 150 requests for the next period.</p>
    </div>
</div>
