@using SFA.DAS.Apim.Developer.Web.Infrastructure
@model SFA.DAS.Apim.Developer.Web.Models.ThirdPartyAccounts.ChangePasswordViewModel

@{
    ViewBag.Title = "Change password";
    Layout = "_LayoutGeneric";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_pageErrorsOverview" />
        <h1 class="govuk-heading-xl">Change password</h1>
        <form method="POST" asp-route="@RouteNames.ThirdPartyChangePassword" novalidate>
            <input type="hidden" asp-for="UserId"/>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    @{ 
                        var passwordInvalid = !ViewData.ModelState.IsValid && ViewData.ModelState[nameof(Model.Password)].Errors.Any();
                    }
                    <div class="govuk-form-group @(passwordInvalid ? "govuk-form-group--error" : "")">
                        <label asp-for="Password" class="govuk-label">
                            Create new password
                        </label>
                        <div class="govuk-hint">Password requires upper and lowercase letters, a number and at least 8 characters.</div>
                        @if (passwordInvalid)
                        {
                            <span class="govuk-error-message" id="password-error">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Password)].Errors.First().ErrorMessage
                            </span>
                        }
                        <input asp-for="Password" class="govuk-input @(passwordInvalid ? "govuk-input--error" : "")" type="password" autocomplete="new-password"/>
                    </div>
                    @{ 
                        var confirmPasswordInvalid = !ViewData.ModelState.IsValid && ViewData.ModelState[nameof(Model.ConfirmPassword)].Errors.Any();
                    }
                    <div class="govuk-form-group @(confirmPasswordInvalid ? "govuk-form-group--error" : "")">
                        <label asp-for="ConfirmPassword" class="govuk-label">
                            Confirm new password
                        </label>
                        @if (confirmPasswordInvalid)
                        {
                            <span class="govuk-error-message" id="confirm-password-error">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.ConfirmPassword)].Errors.First().ErrorMessage
                            </span>
                        }
                        <input asp-for="ConfirmPassword" class="govuk-input @(confirmPasswordInvalid ? "govuk-input--error" : "")" type="password" autocomplete="new-password"/>
                    </div>
                </div>
            </div>
            <button id="continue" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Confirm</button>
        </form>
    </div>
</div>