@using SFA.DAS.Apim.Developer.Web.Infrastructure
@model SFA.DAS.Apim.Developer.Web.Models.ThirdPartyAccounts.LoginViewModel
@{
    ViewBag.Title = "Create an account";
    Layout = "_LayoutDocumentation";
}


<div class="govuk-width-container">
    <span class="das-js-back-link"></span>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <partial name="_pageErrorsOverview" />
                <h1 class="govuk-heading-xl">Create an account</h1>
                <form method="POST" asp-route="@RouteNames.ThirdPartySignIn" novalidate>
                    @{ 
                        var emailInvalid = !ViewData.ModelState.IsValid && ViewData.ModelState[nameof(Model.EmailAddress)].Errors.Any();
                    }
                    <div class="govuk-form-group @(emailInvalid ? "govuk-form-group--error" : "")">
                        <label asp-for="EmailAddress" class="govuk-label">
                            Email address
                        </label>
                        @if (emailInvalid)
                        {
                            <span class="govuk-error-message" id="email-error">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.EmailAddress)].Errors.First().ErrorMessage
                            </span>
                        }
                        <input asp-for="EmailAddress" class="govuk-input @(emailInvalid ? "govuk-input--error" : "")" type="email" autocomplete="email"/>
                    </div>
                    @{ 
                        var passwordInvalid = !ViewData.ModelState.IsValid && ViewData.ModelState[nameof(Model.Password)].Errors.Any();
                    }
                    <div class="govuk-form-group @(passwordInvalid ? "govuk-form-group--error" : "")">
                        <label asp-for="Password" class="govuk-label">
                            Password
                        </label>
                        <div class="govuk-hint">Password requires upper and lowercase letters, a number and at least 8 characters.</div>
                        @if (passwordInvalid)
                        {
                            <span class="govuk-error-message" id="password-error">
                                <span class="govuk-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.Password)].Errors.First().ErrorMessage
                            </span>
                        }
                        <input asp-for="Password" class="govuk-input @(passwordInvalid ? "govuk-input--error" : "")" type="password" autocomplete="new-password"/>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>